/* Shadow Variables */
/* Color Variables */
/* Utility Colors */
/* Heading Sizes */
* {
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

/* UTILITY CLASSES */
.rounded-corners {
  border-radius: 4px; }

/* /UTILITY CLASSES */
/* RESPONSIVE COLUMNS */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.row::before, .row::after {
  clear: both;
  content: " ";
  display: table; }

.row {
  margin-left: 10px;
  margin-right: 10px; }

.col {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  /* 	Column Widths */
  .col-1.col {
    width: 8.333333333%; }

  .col-2.col {
    width: 16.66666667%; }

  .col-3.col {
    width: 25%; }

  .col-4.col {
    width: 33.33333333%; }

  .col-5.col {
    width: 41.66666667%; }

  .col-6.col {
    width: 50%; }

  .col-7.col {
    width: 58.33333333%; }

  .col-8.col {
    width: 66.66666667%; }

  .col-9.col {
    width: 75%; }

  .col-10.col {
    width: 83.33333333%; }

  .col-11.col {
    width: 91.66666667%; }

  .col-12.col {
    width: 100%; }

  /* Offsets */
  .col-offset-1.col {
    margin-left: 8.333333333%; }

  .col-offset-2.col {
    margin-left: 16.66666667%; }

  .col-offset-3.col {
    margin-left: 25%; }

  .col-offset-4.col {
    margin-left: 33.33333333%; }

  .col-offset-5.col {
    margin-left: 41.66666667%; }

  .col-offset-6.col {
    margin-left: 50%; }

  .col-offset-7.col {
    margin-left: 58.33333333%; }

  .col-offset-8.col {
    margin-left: 66.66666667%; }

  .col-offset-9.col {
    margin-left: 75%; }

  .col-offset-10.col {
    margin-left: 83.33333333%; }

  .col-offset-11.col {
    margin-left: 91.66666667%; } }
/* /RESPONSIVE COLUMNS */
/* BUTTONS */
.btn {
  border-width: 1px;
  border-style: solid;
  color: #009edb;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
  min-height: 30px;
  padding: 0 10px; }

.btn.btn-default {
  color: black; }

.btn.btn-primary, .btn.btn-success, .btn.btn-success, .btn.btn-warn, .btn.btn-error {
  color: white;
  text-shadow: 0 1px 1px #7f7f7f; }

.btn.btn-default {
  background-color: white;
  border-color: #c5c5c5; }

.btn.btn-primary {
  background-color: #44c7f4;
  border-color: #00adef; }

.btn.btn-success {
  background-color: #6dc067;
  border-color: #00a76d; }

.btn.btn-warn {
  background-color: #ffee5f;
  border-color: #f1c641; }

.btn.btn-error {
  background-color: #f3716c;
  border-color: #ed473a; }

.btn.btn-default:hover {
  background-color: #e2e2e2;
  border-color: #c5c5c5; }

.btn.btn-primary:hover {
  background-color: #009edb;
  border-color: #0d84b1; }

.btn.btn-success:hover {
  background-color: #4da047;
  border-color: #0a8147; }

.btn.btn-warn:hover {
  background-color: #ffd400;
  border-color: #e0b530; }

.btn.btn-error:hover {
  background-color: #e4625d;
  border-color: #cc2619; }

/* /BUTTONS */
/* HEADINGS */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  color: #999; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

/* /HEADINGS */
/* COPY */
p {
  margin-bottom: 10px;
  margin-top: 10px; }

em {
  color: #ed473a; }

code {
  background-color: #eee;
  border-width: 1px;
  border-color: #e5e5e5;
  border-style: solid;
  color: #ed473a;
  font-family: monospace, serif;
  padding: 0 5px; }

ins, mark {
  background-color: #ffff99;
  text-decoration: none; }

q {
  font-style: italic; }

abbr {
  border-bottom-width: 1px;
  border-bottom-style: dotted; }

small {
  font-size: 75%; }

hr {
  border-color: #e5e5e5;
  border-width: 1px 0 0 0; }

pre {
  background-color: #fafafa;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  white-space: pre-wrap; }

/* /COPY */
/* LIST STYLES */
ul ul, ol ol, ul ol, ol ul, ul li, ol li {
  margin-left: -6px; }

.list-unstyled {
  list-style: none; }

dt {
  font-weight: 500; }

dd {
  margin-left: 0px; }

/* /LIST STYLES */
/* TABLE STYLES */
.table {
  border-collapse: collapse;
  margin-bottom: 15px;
  width: 100%; }

.table.table-small th {
  padding: 5px !important; }

.table.table-small td {
  padding: 5px !important; }

.table th {
  border-bottom-color: #e5e5e5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 14px;
  padding: 10px;
  text-align: left; }

.table td {
  border-bottom-color: #e5e5e5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px; }

.table tfoot td {
  color: #999;
  font-style: italic; }

.table.table-stripe tbody tr:nth-child(2n-1) {
  background-color: #fafafa; }

.table.table-bordered {
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px; }

/* /TABLE STYLES */
/* FORM STYLES */
input {
  font-family: inherit; }

.form-row {
  margin-bottom: 15px; }

label {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 5px;
  max-width: 100%; }

.form-input {
  border-color: #c5c5c5;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  padding: 7px;
  width: 100%; }

.form-input:focus {
  border-color: #44c7f4;
  box-shadow: 0px 0px 5px -2px #44c7f4; }

.form-input[disabled] {
  cursor: not-allowed; }

.form-input[disabled], .form-input[readonly] {
  background-color: #fafafa; }

.form-input.success {
  background-color: #c0e1c0;
  border-color: #8dcfad; }

.form-input.error {
  background-color: #fabeb7;
  border-color: #f7a19a; }

.checkbox label, .radio label {
  font-weight: 400; }

/* /FORM STYLES */
/* ALERT STYLES */
.alert {
  background-color: #000;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%; }

.alert.alert-default {
  background-color: white;
  border-color: #c5c5c5;
  color: black; }

.alert.alert-success {
  background-color: #6dc067;
  border-color: #00a76d;
  color: #00672d; }

.alert.alert-info {
  background-color: #44c7f4;
  border-color: #00adef;
  color: #0663a5; }

.alert.alert-warn {
  background-color: #ffee5f;
  border-color: #f1c641;
  color: #a17600; }

.alert.alert-error {
  background-color: #f3716c;
  border-color: #ed473a;
  color: #bd170a; }

/* /ALERT STYLES */

/*# sourceMappingURL=quartz.css.map */
