/* ALERT STYLES */

.alert { 
	background-color: #000;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
	padding: 15px;
	width: 100%;
}

.alert.alert-default {
	background-color: $default-color;
	border-color: $default-accent;
	color: $default-text-color;
}

.alert.alert-success {
	background-color: lighten($success-color, 20%);
	border-color: lighten($success-accent, 20%);
	color: $success-text-color;
}

.alert.alert-info {
	background-color: lighten($info-color, 20%);
	border-color: lighten($info-accent, 20%);
	color: $info-text-color;
}

.alert.alert-warn {
	background-color: lighten($warn-color, 20%);
	border-color: lighten($warn-accent, 20%);
	color: $warn-text-color;
}

.alert.alert-error {
	background-color: lighten($error-color, 20%);
	border-color: lighten($error-accent, 20%);
	color: $error-text-color;
}

/* /ALERT STYLES */