//Button styles

.btn { 
	border-width: 1px;
	border-style: solid;
	color: rgb(0, 158, 219);
	cursor: pointer;
	display: inline-block;
	line-height: 28px;
	min-height: 28px;
	padding: 4px 18px;


	&.sm { 
		line-height: 28px;
		padding: 0px 10px;
	}

	&.lg { 
		padding: 8px 18px;
	}

	&.disabled,
	&[disabled] {
		cursor: not-allowed !important;
		opacity: 0.6;
	}

	&.btn-default {
		@include make-btn($default-color, darken($default-color, 20%), rgb(0, 0, 0));
	}

	&.btn-primary { 
		@include make-btn($primary-color, darken($primary-color, 10%), rgb(255, 255, 255));
	}

	&.btn-success { 
		@include make-btn($success-color, darken($success-color, 10%), rgb(255, 255, 255));
	}

	&.btn-info { 
		@include make-btn($info-color, darken($info-color, 10%), rgb(255, 255, 255));
	}

	&.btn-warn { 
		@include make-btn($warn-color, darken($warn-color, 10%), rgb(255, 255, 255));
	}

	&.btn-error { 
		@include make-btn($error-color, darken($error-color, 10%), rgb(255, 255, 255));
	}
}