//Button styles

.btn { 
	border-width: 1px;
	border-style: solid;
	color: rgb(0, 158, 219);
	cursor: pointer;
	display: inline-block;
	line-height: 28px;
	min-height: 28px;
	padding: 4px 14px;


	&.sm { 
		line-height: 28px;
		padding: 0px 10px;
	}

	&.lg { 
		padding: 8px 18px;
	}

	&.disabled,
	&[disabled] {
		cursor: not-allowed !important;
		opacity: 0.6;
	}

	&.btn-default {
		@include make-btn($default-color, $default-color, rgb(0, 0, 0));
	}

	&.btn-primary { 
		@include make-btn($primary-color, $primary-color, rgb(255, 255, 255));
	}

	&.btn-success { 
		@include make-btn($success-color, $success-color, rgb(255, 255, 255));
	}

	&.btn-info { 
		@include make-btn($info-color, $info-color, rgb(255, 255, 255));
	}

	&.btn-warn { 
		@include make-btn($warn-color, $warn-color, rgb(255, 255, 255));
	}

	&.btn-error { 
		@include make-btn($error-color, $error-color, rgb(255, 255, 255));
	}
}