//Button styles

.btn { 
	border-width: 1px;
	border-style: solid;
	color: rgb(0, 158, 219);
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 24px;
	min-height:30px;
	padding: 4px 12px;


	&.sm { 
		line-height: 12px;
		padding: 8px 4px;
	}

	&.lg { 
		padding: 8px 16px;
	}

	&.btn-primary, &.btn-success, &.btn-success, &.btn-warn, &.btn-error, &.btn-info {
		color: rgb(255, 255, 255);
		text-shadow: $text-shadow;
	}

	&.btn-default {
		color: rgb(0, 0, 0);
		border-color: darken($default-color, 20%);

		&:hover {
			background-color: darken($default-color, 15%);
			border-color: darken($default-color, 30%);
		}
	}

	&.btn-primary { 
		background-color: $primary-color;
		border-color: darken($primary-color, 20%);

		&:hover {
			background-color: darken($primary-color, 15%);
			border-color: darken($primary-color, 30%);
		}
	}

	&.btn-success { 
		background-color: $success-color;
		border-color: darken($success-color, 20%);

		&:hover {
			background-color: darken($success-color, 15%);
			border-color: darken($success-color, 30%);
		}
	}

	&.btn-info { 
		background-color: $info-color;
		border-color: darken($info-color, 15%);

		&:hover {
			background-color: darken($info-color, 15%);
			border-color: darken($info-color, 30%);
		}
	}

	&.btn-warn { 
		background-color: $warn-color;
		border-color: darken($warn-color, 20%);

		&:hover {
			background-color: darken($warn-color, 15%);
			border-color: darken($warn-color, 30%);
		}
	}

	&.btn-error { 
		background-color: $error-color;
		border-color: darken($error-color, 20%);

		&:hover {
			background-color: darken($error-color, 15%);
			border-color: darken($error-color, 30%);
		}
	}
}