//Form styles

input {
	font-family: inherit;
}

label {
	display: inline-block;
	font-weight: 400;
	margin-bottom: 5px;
	max-width: 100%;
}

.form-row {
	margin-bottom: 15px;
}

.form-input {
	background-color: #ffffff;
	border-color: $light-gray;
	border-style: solid;
	border-width: 1px;
	display: block;
	font-size: 13px;
	height: 28px;
	padding: 0px 6px;
	width: 100%;

	&[disabled] {
		cursor: not-allowed;	
	}

	&[disabled], &[readonly] {
		background-color: $lighter-gray;
	}

	&:focus {
		border-color: $form-focus-color;
		box-shadow: 0px 0px 5px 0px lighten($form-focus-color, 20%);
	}

	&.success {
		background-color: lighten($success-color, 30%);
		border-color: lighten($success-color, 15%);

		&:focus {
			box-shadow: 0px 0px 5px 0px lighten($success-color, 20%);
		}
	}

	&.error {
		background-color: lighten($error-color, 30%);
		border-color: lighten($error-color, 15%);

		&:focus {
			box-shadow: 0px 0px 5px 0px lighten($error-color, 20%);
		}
	}
}

.checkbox label, .radio label {
	font-weight: 400;
}