//Grid styles

.container {
	position:relative;
	width:100%;
	max-width:960px;
	margin:0 auto;
	padding:0 20px;
	box-sizing:border-box;
}

.row {
	margin-left:10px;
	margin-right:10px;

	&::before, &::after {
		clear: both;
		content: " ";
		display: table;
	}
}

.col {
	width:100%;
	float:left;
	box-sizing:border-box;
	padding-left:8px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-top: 5px;
}

/* For devices smaller than 768px */
.container {
	width:80%;
}
	
.col.small, .col.phone {
	@include make-grid();
}

/* For devices equal to or larger than 768px */
@media (min-width: 768px) {
	.container {
		width:80%;
	}
	
	.col.medium, .col.tablet {
		@include make-grid();
	}
}

/* For devices equal to or larger than 992px */
@media (min-width: 992px) {
	.container {
		width:80%;
	}

	.col.large, .col.desktop {
		@include make-grid();
	}
}