//Table styles

.table {
	border-collapse: collapse;
	margin-bottom: 15px;
	width: 100%;

	th {
		border-bottom-color: $light-gray;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		font-size: 14px;
		padding: 10px;
		text-align: left;
	}

	tr {
		&:not(:last-child) {
			td {
				border-bottom-color: $light-gray;
				border-bottom-style: solid;
				border-bottom-width: 1px;
			}
		}
	}

	td {
		padding: 10px;
	}

	tfoot {
		td {
			color: $med-gray;
			border-top-color: $light-gray;
			border-top-style: solid;
			border-top-width: 1px;
			font-style: italic;
		}
	}

	&.table-stripe {
		tbody tr:nth-child(2n-1) {
			background-color: $lighter-gray;
		}
	}

	&.table-bordered {
		border-color: $dark-gray !important;
		border-style: solid;
		border-width: 1px !important;
	}

	&.table-small {
		th {
			padding: 5px !important;
		}

		td {
			padding: 5px !important;
		}
	} 
}