//Utility styles

.rounded-corners {
	border-radius: 5px;
}

.no-rounded-corners {
	border-radius: 0px !important;
}


//Element alignment
.align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.clear {
	clear: both;
}

//Text alignment
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}