// Variables

// Base colors
$base-color: #000000;
$darker-gray: lighten($base-color, 10%);
$dark-gray: lighten($base-color, 30%);
$med-gray: lighten($base-color, 50%);
$light-gray: lighten($base-color, 70%);
$lighter-gray: lighten($base-color, 90%);

// Contextual colors
$default-color: rgb(255, 255, 255);
$primary-color: rgb(29, 109, 242);
$success-color: rgb(109, 192, 103);
$info-color: rgb(68, 199, 244);
$warn-color: rgb(249, 222, 59);
$error-color: rgb(217, 83, 79);

//Other colors
$form-focus-color: rgb(68, 199, 244);
$highlight-color: rgb(255, 255, 153);

// Font Sizes
$base-font-size: 14px;

$h1-size: floor($base-font-size * 2.57); // 36px
$h2-size: floor($base-font-size * 2.15); // 30px
$h3-size: ceil($base-font-size * 1.71); // 24px
$h4-size: floor($base-font-size * 1.29); // 18px
$h5-size: $base-font-size * 1.00; // 14px
$h6-size: ceil($base-font-size * 0.85); // 12px

// Shadow Variables
$text-shadow: 0 1px 1px $dark-gray;