// Variables

// Base colors
$base-color: rgb(0, 0, 0);
$darker-gray: lighten($base-color, 10%);
$dark-gray: lighten($base-color, 25%);
$med-gray: lighten($base-color, 50%);
$light-gray: lighten($base-color, 85%);
$lighter-gray: lighten($base-color, 95%);

// Contextual colors
$default-color: rgb(255, 255, 255);
$primary-color: rgb(29, 109, 242);
$success-color: rgb(109, 192, 103);
$info-color: rgb(68, 199, 244);
$warn-color: rgb(249, 222, 59);
$error-color: rgb(217, 83, 79);

//Other colors
$form-focus-color: rgb(68, 199, 244);
$highlight-color: rgb(255, 255, 153);

// Font Sizes
$base-font-size: 1.4rem;

$h1-size: $base-font-size * 2.8571; // 4.0rem
$h2-size: $base-font-size * 2.5714; // 3.6rem
$h3-size: $base-font-size * 2.1428; // 3.0rem
$h4-size: $base-font-size * 1.7142; // 2.4rem
$h5-size: $base-font-size * 1.4285; // 2.0rem
$h6-size: $base-font-size * 1.2857; // 1.8rem

// Shadow Variables
$text-shadow: 0 1px 1px $dark-gray;